<div class="flex flex-row justify-between items-center global-px py-4 md:py-8 bg-global-dark gap-4 md:gap-12 lg:gap-16">
  <img class="w-[calc(25%-0.75rem)] md:flex-1 h-6 md:h-12 object-contain" src="svgs/brand.svg" alt="" >
  <img class="w-[calc(25%-0.75rem)] md:flex-1 h-6 md:h-12 object-contain" src="svgs/calvin.svg" alt="" >
  <img class="w-[calc(25%-0.75rem)] md:flex-1 h-6 md:h-12 object-contain" src="svgs/zara.svg" alt="" >
  <img class="w-[calc(25%-0.75rem)] md:flex-1 h-6 md:h-12 object-contain" src="svgs/prada.svg" alt="" >
</div>
